---
import { getCollection } from 'astro:content';
import Section from '@components/layout/Section.astro';
import Logo1980s from '@components/logo/Logo1980s.astro';
import Logo1990s from '@components/logo/Logo1990s.astro';
import Era1990sSquiggle from '@components/era/1990s/Era1990sSquiggle.astro';

export async function getStaticPaths() {
	const races = await getCollection('races');
	return races.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Section class="nineteeneighties">
	<Logo1980s />
	<Content />
</Section>
<Section class="nineteennineties">
	<Logo1990s />
	<Content />
</Section>
<Era1990sSquiggle />
